
h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    margin-bottom:1rem;
    padding-bottom: 1rem;
}

.image {
    height:250px;
    width:250px;
    align-self: center;
    border-radius:30px;
}